.card__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  width: 18px;
  height: 19px;
  background: transparent;
  background-size: cover;
  background-image: url(../../../images/Group.svg);
}